---
import { Github, ArrowUpRight } from "@lucide/astro";

interface Props {
  name: string;
  url: string;
  githubUrl: string;
  year: string;
  description: string;
}

const { name, url, githubUrl, year, description } = Astro.props;
---

<div class="border bg-card">
  <div class="p-4">
    <div class="flex items-center gap-4">
      <a class="font-semibold flex-1" href={url} target="_blank">
        <span class="underline"> {name} </span>
        <ArrowUpRight size={16} class="inline" />
      </a>
      <div class="text-gray-500 text-sm">{year}</div>
      <a href={githubUrl} target="_blank" aria-label="View GitHub repository">
        <Github size={14} />
      </a>
    </div>
    <div class="text-sm">{description}</div>
  </div>
</div>
